*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    background-color: slategray;
}

.grade div {
    background-color: deepskyblue;
    padding: 0.6rem;
}

.grade div:nth-child(even){
    background-color: aqua;
}

.grade {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    gap: 5px;
    font-size: 8pt;
}

#item1 {
    background-color: chartreuse;
    grid-row: 2;
    grid-column: 1/3;
}